# Anomaly Detection using Isolation Forest (scikit-learn)

Source: https://blog.paperspace.com/anomaly-detection-isolation-forest/

In [30]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

In [38]:
df = pd.read_csv('~/Downloads/salaries.csv') # 
df.head(10)

        rank discipline  phd  service   sex  salary
0       Prof          B   56       49  Male  186960
1       Prof          A   12        6  Male   93000
2       Prof          A   23       20  Male  110515
3       Prof          A   40       31  Male  131205
4       Prof          B   20       18  Male  104800
5       Prof          A   20       20  Male  122400
6  AssocProf          A   20       17  Male   81285
7       Prof          A   18       18  Male  126300
8       Prof          A   29       19  Male   94350
9       Prof          A   51       51  Male   57800

In [39]:
# model here
# change contamination argument and see if the model detects anomaly correctly
model=IsolationForest(n_estimators=50, max_samples='auto', contamination=float(0.02),max_features=1.0)
model.fit(df[['salary']])

IsolationForest(contamination=0.02, n_estimators=50)

In [40]:
df['scores']=model.decision_function(df[['salary']])
df['anomaly']=model.predict(df[['salary']])
df.head(20)

         rank discipline  phd  service   sex      salary    scores  anomaly
0        Prof          B   56       49  Male      186960  0.074055        1
1        Prof          A   12        6  Male       93000  0.381275        1
2        Prof          A   23       20  Male      110515  0.381425        1
3        Prof          A   40       31  Male      131205  0.312619        1
4        Prof          B   20       18  Male      104800  0.404176        1
5        Prof          A   20       20  Male      122400  0.351234        1
6   AssocProf          A   20       17  Male       81285  0.320016        1
7        Prof          A   18       18  Male      126300  0.341131        1
8        Prof          A   29       19  Male       94350  0.379335        1
9        Prof          A   51       51  Male       57800  0.180178        1
10       Prof          B   39       33  Male      128250  0.341342        1
11       Prof          B   23       23  Male  1347780000 -0.086934       -1
12   AsstProf          B    1        0  Male       88000  0.354093        1
13       Prof          B   35       33  Male      162200  0.231566        1
14       Prof          B   25       19  Male      153750  0.307485        1
15       Prof          B   17        3  Male      150480  0.321837        1
16   AsstProf          B    8        3  Male       75044  0.346543        1
17   AsstProf          B    4        0  Male       92000  0.386336        1
18       Prof          A   19        7  Male      107300  0.388206        1
19       Prof          A   29       27  Male      150500  0.321837        1

In [41]:
# print anomaly
anomaly=df.loc[df['anomaly']==-1]
anomaly_index=list(anomaly.index)
print(anomaly)

        rank discipline  phd  service     sex      salary    scores  anomaly
11      Prof          B   23       23    Male  1347780000 -0.086934       -1
53  AsstProf          A    5        3  Female  7350000000 -0.152929       -1